---
import Footer from '../components/organisms/Footer.astro';
import Navbar from '../components/organisms/Navbar.astro';



interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-gray-100 text-gray-900">
    <Navbar />
    <main class="container mx-auto p-6">
      
      <slot />
    </main>
    <Footer />
  </body>
</html>
